# Core Libraries
streamlit
pandas
openpyxl

# Model + NLP
transformers==4.41.1
torch>=2.0.0
sentence-transformers

# Vector Indexing
faiss-cpu

# Langchain with compatible embeddings
langchain>=0.2.2
langchain-community
langchain-huggingface
